<!doctype html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta charset="UTF-8">

    <title>{{ title }}</title>

    {% block styles %}
    <link href="styles/global.css" rel="stylesheet" />
    {% endblock %}

    <link href="favicon.svg" rel="icon" type="image/svg+xml" />
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block body %}
    <div>
      {% block header %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      {% block footer %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block additional_section %}
    {% endblock %}

    {% block scripts %}

    <script src="scripts/global.js" type="module"></script>
    {% endblock %}
  </body>
</html>
