{% set title = "Home" %}

{% extends "src/_layout.njk" %}

{% block header %}
  {% include "src/_header.njk" %}
{%- endblock %}

{% block main %}
  <main>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Hic voluptatem laboriosam id consequuntur cumque vel ipsum quos. Sed mollitia vitae et similique praesentium non
      omnis harum. Non optio aliquid hic amet assumenda et ducimus nihil et harum nihil aut voluptatem iusto aut doloribus
      tenetur! Vel porro nihil ut pariatur esse ut magni voluptatibus ut modi laboriosam.
    </p>
  </main>
{%- endblock %}

{% block footer %}
  {% include "src/_footer.njk" %}
{%- endblock %}
